
@{
    ViewBag.Title = "UyeOl";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="row m-2">
    <div class="col-sm-4">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">E-mail Adresi</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresinizi Giriniz">
                <small id="emailHelp" class="form-text text-muted">E-mailinizi asla 3. şahıslarla paylaşmayacağız.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Şifre</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>
    </div>

    <div class="col-sm-8 text-xl-center">
        <div class="col-md-8 offset-md-2 form-group form-check">
            <div style="border:3px solid black; overflow:scroll; max-height:300px;">
                <h1>Kullanıcı Sözleşmesi</h1> <article>
                    Lorem Ipsum Nedir?
                    Lorem Ipsum, dizgi ve baskı endüstrisinde kLorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
                    ullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
                </article>
            </div>
            <br />
            <input type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck2">Okudum ve şartları kabul ediyorum .</label>
        </div>
    </div>

</div>

